<h3 class="spec-itm-title" id="cstrt-nm" >갤럭시 S23 FE 자급제 (삼성닷컴/삼성 강남 전용컬러)</h3>
	<div class="spec-table">
		<dl>
						<dt>디스플레이</dt>
						<dd>
							<ol>
								<li>
										<strong class="spec-title">크기 (Main Display)</strong>
											<p class="spec-desc">163.1 mm&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">해상도 (Main)</strong>
											<p class="spec-desc">1080 x 2340 (FHD+)&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">종류 (Main)</strong>
											<p class="spec-desc">Dynamic AMOLED 2X&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">색심도 (Main)</strong>
											<p class="spec-desc">16 M&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">최대 주사율 (Main)</strong>
											<p class="spec-desc">120 Hz&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>프로세서</dt>
						<dd>
							<ol>
								<li>
										<strong class="spec-title">CPU 속도</strong>
											<p class="spec-desc">2.8 GHz,2.5 GHz,1.8 GHz&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">CPU 종류</strong>
											<p class="spec-desc">Octa-Core&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">CPU</strong>
											<p class="spec-desc">삼성 엑시노스 2200&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>카메라</dt>
						<dd>
							<ol>
								<li>
										<strong class="spec-title">후면 카메라 - 화소 (Multiple)</strong>
											<p class="spec-desc">50.0 MP + 12.0 MP + 8.0 MP&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">후면 카메라 - 조리개 값 (Multiple)</strong>
											<p class="spec-desc">F1.8 , F2.2 , F2.4&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">후면 카메라 - 오토 포커스</strong>
											<p class="spec-desc">예&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">후면 카메라 - OIS</strong>
											<p class="spec-desc">예&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">후면 카메라 - 줌</strong>
											<p class="spec-desc">3배 광학줌, 최대 30배 디지털줌&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">전면 카메라 - 화소</strong>
											<p class="spec-desc">10.0 MP&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">전면 카메라 - 조리개 값</strong>
											<p class="spec-desc">F2.4&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">전면 카메라 - 오토 포커스</strong>
											<p class="spec-desc">아니오&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">후면 카메라 - 플래쉬</strong>
											<p class="spec-desc">예&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">동영상 녹화 해상도</strong>
											<p class="spec-desc">UHD 8K (7680 x 4320) @24fps&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">슬로우 모션</strong>
											<p class="spec-desc">960fps @HD,240fps @FHD&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>메모리/스토리지(저장 용량)</dt>
						<dd>
							<ol>
								<li>
										<strong class="spec-title">메모리 (GB)</strong>
											<p class="spec-desc">8 GB&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">스토리지(저장 용량) (GB)</strong>
											<p class="spec-desc">256 GB&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">사용 가능한 스토리지(저장 용량) (GB)</strong>
											<p class="spec-desc">235.7 GB&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>네트워크</dt>
						<dd>
							<ol>
								<li>
										<strong class="spec-title">SIM 개수</strong>
											<p class="spec-desc">Dual-SIM&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">SIM 슬롯 타입</strong>
											<p class="spec-desc">SIM 1 + Embedded SIM&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>네트워크 (S/W 사용)</dt>
						<dd>
							<ol>
								<li>
										<strong class="spec-title">2G GSM</strong>
											<p class="spec-desc">GSM850,GSM900,DCS1800,PCS1900&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">3G UMTS</strong>
											<p class="spec-desc">B1(2100),B2(1900),B4(AWS),B5(850),B8(900)&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">4G FDD LTE</strong>
											<p class="spec-desc">B1(2100),B2(1900),B3(1800),B4(AWS),B5(850),B7(2600),B8(900),B12(700),B13(700),B17(700),B20(800),B26(850),B28(700),B66(AWS-3)&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">4G TDD LTE</strong>
											<p class="spec-desc">B38(2600),B40(2300),B41(2500)&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">5G FDD Sub6</strong>
											<p class="spec-desc">N1(2100),N2(1900),N3(1800),N5(850),N7(2600),N8(900),N20(800),N28(700),N66(AWS-3)&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">5G TDD Sub6</strong>
											<p class="spec-desc">N38(2600),N40(2300),N41(2500),N77(3700),N78(3500)&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>연결</dt>
						<dd>
							<ol>
								<li>
										<strong class="spec-title">USB 인터페이스</strong>
											<p class="spec-desc">USB Type-C&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">USB 버전</strong>
											<p class="spec-desc">USB 3.2 Gen 1&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">위치 기술</strong>
											<p class="spec-desc">GPS,Glonass,Beidou,Galileo,QZSS&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">이어잭</strong>
											<p class="spec-desc">USB Type-C&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">MHL</strong>
											<p class="spec-desc">아니오&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">Wi-Fi</strong>
											<p class="spec-desc">802.11 a/b/g/n/ac/ax 2.4 G+5 GHz+6 GHz, HE160, MIMO, 1024-QAM&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">Wi-Fi Direct</strong>
											<p class="spec-desc">예&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">블루투스 버전</strong>
											<p class="spec-desc">Bluetooth v5.3&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">NFC</strong>
											<p class="spec-desc">예&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">PC 싱크</strong>
											<p class="spec-desc">Smart Switch (PC version)&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>운영체제</dt>
						<dd>
							<ol>
								<li>
										<p class="spec-desc">Android&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>기본 사양</dt>
						<dd>
							<ol>
								<li>
										<strong class="spec-title">색상</strong>
											<p class="spec-desc">인디고&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">형태</strong>
											<p class="spec-desc">터치 바&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>센서</dt>
						<dd>
							<ol>
								<li>
										<p class="spec-desc">가속도 센서,기압 센서,지문 센서,자이로 센서,지자기 센서,홀 센서,조도 센서,가상근접 센싱&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>외관 사양</dt>
						<dd>
							<ol>
								<li>
										<strong class="spec-title">크기(세로x가로x두께, mm)</strong>
											<p class="spec-desc">158.0 x 76.5 x 8.2&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">무게(g)</strong>
											<p class="spec-desc">209&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>배터리</dt>
						<dd>
							<ol>
								<li>
										<strong class="spec-title">인터넷 사용 시간(LTE) (Hours)</strong>
											<p class="spec-desc">최대 19&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">인터넷 사용 시간(Wi-Fi) (Hours)</strong>
											<p class="spec-desc">최대 20&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">비디오 재생 시간 (Hours, Wireless)</strong>
											<p class="spec-desc">최대 22&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">배터리 용량(mAh, Typical)</strong>
											<p class="spec-desc">4500&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">교체 가능</strong>
											<p class="spec-desc">아니오&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">오디오 재생 시간 (Hours, Wireless)</strong>
											<p class="spec-desc">최대 69&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">연속 통화시간(4G LTE) (Hours)</strong>
											<p class="spec-desc">최대 39&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>오디오/비디오</dt>
						<dd>
							<ol>
								<li>
										<strong class="spec-title">스테레오 지원</strong>
											<p class="spec-desc">예&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">동영상 지원 포맷</strong>
											<p class="spec-desc">MP4,M4V,3GP,3G2,AVI,FLV,MKV,WEBM&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">동영상 지원 해상도</strong>
											<p class="spec-desc">UHD 8K (7680 x 4320) @60fps&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">오디오 지원 포맷</strong>
											<p class="spec-desc">MP3,M4A,3GA,AAC,OGG,OGA,WAV,AMR,AWB,FLAC,MID,MIDI,XMF,MXMF,IMY,RTTTL,RTX,OTA,DFF,DSF,APE&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
						<dt>서비스</dt>
						<dd>
							<ol>
								<li>
										<strong class="spec-title">Gear 서포트</strong>
											<p class="spec-desc">갤럭시 버즈2 프로,갤럭시 버즈 프로,갤럭시 버즈 라이브,갤럭시 버즈+,갤럭시 버즈2,갤럭시 버즈,Galaxy Buds FE,갤럭시 핏2,갤럭시 핏 e,갤럭시 핏,갤럭시 워치6,갤럭시 워치5,갤럭시 워치4,갤럭시 워치3,갤럭시 워치,갤럭시 워치 액티브2,갤럭시 워치 액티브,기어 핏2 프로,기어 핏2,기어 스포츠,기어 S3,기어 S2&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">삼성 덱스 서포트</strong>
											<p class="spec-desc">지원&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">모바일 TV</strong>
											<p class="spec-desc">아니오&nbsp;</p>
										</li>
								<li>
										<strong class="spec-title">블루투스 보청기 지원</strong>
											<p class="spec-desc">보청기용 안드로이드 오디오 스트리밍(ASHA)&nbsp;</p>
										</li>
								</ol>
						</dd>
					</dl>
				<dl>
				<dt>상품 기본정보</dt>
				<dd>
					<ol>
						<li>
								<strong class="spec-title">제품명</strong>
								<p class="spec-desc">5G NR 이동통신용 무선설비의 기기(3 .5 ㎓)(육상이동국의 송수신장치)</p>
							</li>
						<li>
								<strong class="spec-title">제조자/수입자</strong>
								<p class="spec-desc">삼성전자㈜</p>
							</li>
						<li>
								<strong class="spec-title">제조국가</strong>
								<p class="spec-desc">한국, 베트남</p>
							</li>
						<li>
								<strong class="spec-title">KC 인증 필 유무</strong>
								<p class="spec-desc"><img src='//images.samsung.com/is/image/samsung/p5/sec/common/icon-kc.png?$ORIGIN_PNG$' alt='KC 인증 로고'>R-C-SEC-SMS711</p>
							</li>
						<li>
								<strong class="spec-title">동일모델의 출시년월</strong>
								<p class="spec-desc">23년 12월</p>
							</li>
						<li>
								<strong class="spec-title">A/S 책임자와 전화번호</strong>
								<p class="spec-desc">삼성전자서비스센터/1588-3366</p>
							</li>
						<li>
								<strong class="spec-title">품질보증기준</strong>
								<p class="spec-desc">결함·하자 등에 따른 소비자 피해에 대해서는 소비자분쟁해결기준(소비자기본법 제16조)에 따라 보상 가능</p>
							</li>
						</ol>
				</dd>
			</dl>
		</div>

