<div class="menuitem__l1__container">
    <!-- menu 1depth container -->
    <p class="l1__title m-only">AI</p>
    
    <div class="menuitem__l2__wrap">
            <!-- menu 2depth container -->
            <ul class="menuitem__l2__list">
                <li>
                            <a href="javascript:void(0);" onclick="openCtaLink('https://www.samsung.com/sec/ai-products','_self');"
                               
                               data-omni="AI:AI for All">AI for All</a>
                            </li>
                    <li>
                            <a href="javascript:void(0);" onclick="openCtaLink('/sec/ai-products/all-ai-products/','_self');"
                               
                               data-omni="AI:all-ai-products">모든 AI 제품 보기</a>
                            </li>
                    <li>
                            <a href="javascript:void(0);" onclick="openCtaLink('https://www.samsung.com/sec/galaxy-ai/','_self');"
                               
                               data-omni="AI:Galaxy-ai">Galaxy AI</a>
                            </li>
                    <li>
                            <a href="javascript:void(0);" onclick="openCtaLink('/sec/tvs/8k-tv/highlights/','_self');"
                               
                               data-omni="AI:Samsung-AI-TV">Samsung AI TV</a>
                            </li>
                    <li>
                            <a href="javascript:void(0);" onclick="openCtaLink('https://www.samsung.com/sec/home-appliance/bespoke-home/','_self');"
                               
                               data-omni="AI:Bespoke AI">BESPOKE AI </a>
                            </li>
                    <li>
                            <a href="javascript:void(0);" onclick="openCtaLink('/sec/ai-life/','_self');"
                               
                               data-omni="AI:get-ai-life">세상 편한 AI 라이프.</a>
                            </li>
                    </ul>
        </div>
    </div>
