<script>
    $(document).ready(function() {
        $('.box-btn .btn-download').on('click', function() {
            goodsGA4.fnGA4fileDownload(this.closest('li'));
        })
    })
</script>
<div class="customer-center-wrap">
        <div class="manual-sec">
        <h3 class="sub-tit sub-tit-manual">매뉴얼</h3>
                    <p class="info-prd"><strong>갤럭시 S24 자급제 (삼성닷컴/삼성 강남 전용컬러)</strong>SM-S921NLBFKOO</p><!-- 2020-12-09 매뉴얼 상품명 추가 -->
                    <ul class="list-type-download manuals">
                <li class="item" data-omni= "9476022">
                            <input type="hidden" name="cdlang" value="AA" />
                            <input type="hidden" name="cdctttype" value="UM" />
                            <strong class="name">
                                사용자 매뉴얼 (Android 14)</strong>
                            <p class="desc">
                                <span class="desc-item">ver.1.1</span>
                                <span class="desc-item">
                                한국어</span>
                                <span class="desc-item">4.61MB</span>
                                <span class="desc-item">2024-01-29</span>
                            </p>
                            <p class="box-btn">
                                <a href="https://downloadcenter.samsung.com/content/UM/202401/20240129135214965/SM-S92X_UG_UU_Kor_Rev.1.1_240129.pdf" class="btn-download" data-nmfile="SM-S92X_UG_UU_Kor_Rev.1.1_240129.pdf">다운로드</a>
                            </p>
                    </li>
                    <li class="item" data-omni= "9458686">
                            <input type="hidden" name="cdlang" value="AA" />
                            <input type="hidden" name="cdctttype" value="UM" />
                            <strong class="name">
                                안전 주의사항</strong>
                            <p class="desc">
                                <span class="desc-item">ver.2.4.6</span>
                                <span class="desc-item">
                                한국어</span>
                                <span class="desc-item">0.47MB</span>
                                <span class="desc-item">2024-01-18</span>
                            </p>
                            <p class="box-btn">
                                <a href="https://downloadcenter.samsung.com/content/UM/202401/20240118114415526/Safety_information_kor_Rev.2.4.6_230406.pdf" class="btn-download" data-nmfile="Safety_information_kor_Rev.2.4.6_230406.pdf">다운로드</a>
                            </p>
                    </li>
                    </ul>
        </div>
        <div class="manual-sec">
        <h3 class="sub-tit sub-tit-download">다운로드</h3>
                <p class="info-prd"><strong>갤럭시 S24 자급제 (삼성닷컴/삼성 강남 전용컬러)</strong>SM-S921NLBFKOO</p><!-- 2020-12-09 매뉴얼 상품명 추가 -->
                <ul class="list-type-download downloads">
                <li class="item" data-omni= "9497063">
                        <input type="hidden" name="cdlang" value="AA" />
                        <input type="hidden" name="cdctttype" value="FM" />
                        <strong class="name">
                         업그레이드 가이드 (펌웨어 업그레이드)</strong>
                        <p class="desc">
                            <span class="desc-item">: All OS</span>
                        <p class="desc">
                            <span class="desc-item">ver.XCA_XCC</span>
                            <span class="desc-item">
                            한국어</span>
                            <span class="desc-item">0.83MB</span>
                            <span class="desc-item">2024-02-19</span>
                        </p>
                        <p class="box-btn">
                            <a href="https://downloadcenter.samsung.com/content/FM/202402/20240219082606727/Smart_Switch_Upgrade_Guide.pdf" class="btn-download" data-nmfile="Smart_Switch_Upgrade_Guide.pdf">다운로드</a>
                        </p>
                    </li>
                    </ul>
        </div>
    </div>
<!-- BOM패키지 2020.12.23-->
<!-- BOM패키지 2020.12.23 END-->
    <div class="waranty-box">
        <dl>
            <dt class="ico-waranty" data-omni="warranty">워런티 정보</dt>
            <dd>
                <p>제품 등록 후 제공되는 서비스를 확인하세요</p>
                <a href="/sec/support/warranty/" class="btn btn-d btn-type1"
                    title="워런티 정보 자세히 보기">자세히 보기</a>
            </dd>
        </dl>
        <dl>
            <dt class="ico-servicecenter" data-omni="samsung support centres">서비스센터 찾기</dt>
            <dd>
                <p>삼성 공식 서비스센터에서 도움을 받으세요</p>
                <a href="/sec/digitalplaza/centerMain/" class="btn btn-d btn-type1"
                    title="서비스센터 찾기 자세히 보기">자세히 보기</a>
            </dd>
        </dl>
        </div>
