<script>
    $(document).ready(function() {
        $('.box-btn .btn-download').on('click', function() {
            goodsGA4.fnGA4fileDownload(this.closest('li'));
        })
    })
</script>
<div class="customer-center-wrap">
        <div class="manual-sec">
        <h3 class="sub-tit sub-tit-manual">매뉴얼</h3>
                    <p class="info-prd"><strong>갤럭시 S23 Ultra 자급제</strong>SM-S918NZGEKOO</p><!-- 2020-12-09 매뉴얼 상품명 추가 -->
                    <ul class="list-type-download manuals">
                <li class="item" data-omni= "9401952">
                            <input type="hidden" name="cdlang" value="AA" />
                            <input type="hidden" name="cdctttype" value="UM" />
                            <strong class="name">
                                사용자 매뉴얼 (Android 14)</strong>
                            <p class="desc">
                                <span class="desc-item">ver.1.1</span>
                                <span class="desc-item">
                                한국어</span>
                                <span class="desc-item">5.15MB</span>
                                <span class="desc-item">2023-12-05</span>
                            </p>
                            <p class="box-btn">
                                <a href="https://downloadcenter.samsung.com/content/UM/202312/20231205135734894/SM-S91X_UM_UU_Kor_Rev.1.1_231205.pdf" class="btn-download" data-nmfile="SM-S91X_UM_UU_Kor_Rev.1.1_231205.pdf">다운로드</a>
                            </p>
                    </li>
                    <li class="item" data-omni= "9353595">
                            <input type="hidden" name="cdlang" value="AA" />
                            <input type="hidden" name="cdctttype" value="UM" />
                            <strong class="name">
                                안전 주의사항</strong>
                            <p class="desc">
                                <span class="desc-item">ver.2.4.6</span>
                                <span class="desc-item">
                                한국어</span>
                                <span class="desc-item">0.47MB</span>
                                <span class="desc-item">2023-11-01</span>
                            </p>
                            <p class="box-btn">
                                <a href="https://downloadcenter.samsung.com/content/UM/202311/20231101132532700/Safety_information_kor_Rev.2.4.6_230406.pdf" class="btn-download" data-nmfile="Safety_information_kor_Rev.2.4.6_230406.pdf">다운로드</a>
                            </p>
                    </li>
                    <li class="item" data-omni= "9212271">
                            <input type="hidden" name="cdlang" value="AA" />
                            <input type="hidden" name="cdctttype" value="UM" />
                            <strong class="name">
                                사용자 매뉴얼 (Android 13)</strong>
                            <p class="desc">
                                <span class="desc-item">ver.1.3</span>
                                <span class="desc-item">
                                한국어</span>
                                <span class="desc-item">5.3MB</span>
                                <span class="desc-item">2023-06-01</span>
                            </p>
                            <p class="box-btn">
                                <a href="https://downloadcenter.samsung.com/content/UM/202306/20230601135625359/SM-S91X_UM_TT_Kor_Rev.1.3_230601.pdf" class="btn-download" data-nmfile="SM-S91X_UM_TT_Kor_Rev.1.3_230601.pdf">다운로드</a>
                            </p>
                    </li>
                    </ul>
        </div>
        <div class="manual-sec">
        <h3 class="sub-tit sub-tit-download">다운로드</h3>
                <p class="info-prd"><strong>갤럭시 S23 Ultra 자급제</strong>SM-S918NZGEKOO</p><!-- 2020-12-09 매뉴얼 상품명 추가 -->
                <ul class="list-type-download downloads">
                <li class="item" data-omni= "9017535">
                        <input type="hidden" name="cdlang" value="AA" />
                        <input type="hidden" name="cdctttype" value="FM" />
                        <strong class="name">
                         업그레이드 가이드 (펌웨어 업그레이드)</strong>
                        <p class="desc">
                            <span class="desc-item">: All OS</span>
                        <p class="desc">
                            <span class="desc-item">ver.XD5</span>
                            <span class="desc-item">
                            한국어</span>
                            <span class="desc-item">0.83MB</span>
                            <span class="desc-item">2023-02-22</span>
                        </p>
                        <p class="box-btn">
                            <a href="https://downloadcenter.samsung.com/content/FM/202302/20230222100733952/Smart_Switch_Upgrade_Guide.pdf" class="btn-download" data-nmfile="Smart_Switch_Upgrade_Guide.pdf">다운로드</a>
                        </p>
                    </li>
                    <li class="item" data-omni= "9017445">
                        <input type="hidden" name="cdlang" value="AA" />
                        <input type="hidden" name="cdctttype" value="FM" />
                        <strong class="name">
                         업그레이드 가이드 (펌웨어 업그레이드)</strong>
                        <p class="desc">
                            <span class="desc-item">: All OS</span>
                        <p class="desc">
                            <span class="desc-item">ver.XD5</span>
                            <span class="desc-item">
                            한국어</span>
                            <span class="desc-item">0.83MB</span>
                            <span class="desc-item">2023-02-22</span>
                        </p>
                        <p class="box-btn">
                            <a href="https://downloadcenter.samsung.com/content/FM/202302/20230222095939321/Smart_Switch_Upgrade_Guide.pdf" class="btn-download" data-nmfile="Smart_Switch_Upgrade_Guide.pdf">다운로드</a>
                        </p>
                    </li>
                    </ul>
        </div>
    </div>
<!-- BOM패키지 2020.12.23-->
<!-- BOM패키지 2020.12.23 END-->
    <div class="waranty-box">
        <dl>
            <dt class="ico-waranty" data-omni="warranty">워런티 정보</dt>
            <dd>
                <p>제품 등록 후 제공되는 서비스를 확인하세요</p>
                <a href="/sec/support/warranty/" class="btn btn-d btn-type1"
                    title="워런티 정보 자세히 보기">자세히 보기</a>
            </dd>
        </dl>
        <dl>
            <dt class="ico-servicecenter" data-omni="samsung support centres">서비스센터 찾기</dt>
            <dd>
                <p>삼성 공식 서비스센터에서 도움을 받으세요</p>
                <a href="/sec/digitalplaza/centerMain/" class="btn btn-d btn-type1"
                    title="서비스센터 찾기 자세히 보기">자세히 보기</a>
            </dd>
        </dl>
        </div>
